//Responsive Breakpoints
$mobile-breakpoint: 13.75rem;
$mobile-breakpoint-b: 23.4375rem;
$mobile-breakpoint-c: 25rem;
$tablet-breakpoint: 48rem;
$tablet-nft-module: 67rem;
$tablet-nft-module-b: 67.625rem;
$tablet-nft-module-c: 88.5625rem;
$desktop-breakpoint: 80rem;
