.eth-status-bar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.811);
  margin-top: -20vw;
  width: 100vw;
  border-radius: 15px;
}
