@use "../../styles/partials/_variables.scss" as *;
@import "../../styles/partials/_mixins.scss";

.connect-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 40vw;
  height: 3vw;
  margin-left: 58vw;

  &__icon {
    height: 3vw;
    width: 3vw;
    margin: 0 3vw;
    @include mobile {
      margin-top: 14.6vw;
    }
    @include mobile-b {
      margin-top: 15vw;
    }
    @include mobile-c {
      margin-top: 15.475vw;
    }
    @include tablet {
      margin-top: 15.675vw;
    }
    @include desktop {
      margin-top: 15.755vw;
    }
  }
}
